/* design page for the navigation bar*/


/* Tablet Styles */
@media only screen and (min-width: 500px) {
	nav {
		position: fixed;
		height: 100px;
		width: 100%;
		z-index: 1;
		background-color: none;
		color: #ffffff;
		padding: 1.5em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	nav span {
		padding: 1.5em;
	}
		
	.website-name {
		font-family: 'Bungee', cursive;
		font-size: 30px;
	}
	.create-new-tweet {
		display: inline;
		font-size: 22px;
	}
}


/* Desktop styles */
@media only screen and (min-width: 1024px) {
nav {
	background-color: #4056A1;
}

}



